#myDiv{
    background-color: purple;
    width: 100px;
    height: 100px;
}
#innerDiv{
    background-color: darkorange;
    width: 70px;
    height: 70px;
    border: 2px solid;
}
#outerDiv{
    background-color: darkorange;
    width: 100px;
    height: 100px;
    border: 2px solid;
}
#myImg{
    width: 200px;
   /* display: none; */
    
}
#myId{
    background-color: lightcoral;
    width: 70px;
    height: 70px;
    border: 2px solid;
    position: relative;
}
#theDiv{
    background-color: orangered;
    width: 70px;
    height: 70px;
    border: 2px solid;
    position: relative;
    
}
#myCanvas{
    border: 2px solid;
   /* background-color: yellow;*/


}
#thisDiv{
    background-color:blueviolet;
    width: 70px;
    height: 70px;
    border: 2px solid;
    position: relative;
}